@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:800&display=swap');

body {
    height:100vh;
    width:100vw;
    background:linear-gradient(160deg, #2EC4B6, #2EC4B6 60%, white 60%, white);
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

p, label, li {
    font-family: 'Montserrat', sans-serif;
}